html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#map-canvas {
    height: 100%;
    width: 100%;
    display: block;
    height: 500px;
    width: 100%;
    border: 3px solid gold;
    box-shadow: 0px 0px 5px 5px gold;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 4px 11px 4px 13px;
    text-overflow: ellipsis;
    width: 400px;
    height: 40px;
    border-width: 5px;
    border-color: #ff7500;
}

#header {
  width: 100%;
  padding: 3px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

.navbar-default {
    background-color: #eee;
}

body {
    background-image: url('/static/img/atlanta.jpg');
    background-size: cover;
}

footer {
    margin-top: 50px;
}

p {
    text-align: center;
    color: white;
}

.btn {
    background-color: #3b8ec2;;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 120px;
    margin-bottom: 20px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    margin-bottom: 20px;
}

.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.blue    { background-color: #3b8ec2; }
.row {
    margin-bottom: 10px;
    margin-top: 10px;
}

i.fa-spinner {
    display: None;
}